* {
    border: 1px solid red;
    margin:0;
    

}

:root {
    --main-height:70vh;
    --header-height:20vh;
    --footer-height:10vh;
    --first-color:#bec5ad;
    --second-color:#A4B494;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Markazi Text', sans-serif;
}

/*
        HEADER
*/
header {
    height: var(--header-height);
    background-color: var(--second-color);
    font-family: 'Bowlby One SC';
}

header > div {
    margin: 3rem;
    font-size: 5rem;
}

/*
        MAIN
*/

main {
    height: var(--main-height);
    
}

.game.container {
    display: flex;
    flex-direction: column;
    background-color: var(--first-color);
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    height: 100%;
    
}

.game.top, .game.bottom{
    height: 10vh;
    width: 100%;
    background-color:var(--first-color);
    display: flex;
    
    align-items: center;
    justify-content:space-around;
    font-size: 3rem;
}

.game.top > div, .game.bottom > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-container input, input::placeholder {
    background-color: rgba(0, 0, 0, 0);
    height: 100%;
    margin: 1rem;
    border: 0;
    color: black;
    font-size: 2rem;
    height: 3rem;
}


.name-container input:focus {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
}

.game.board {
    height: 50vh;
    width: 50vh;
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black; /* Color for lines between cells */
}

.game.board > div {
    background-color: var(--first-color);
    display: flex;
    
    align-items: center;
    justify-content: center;
    border: 5px solid black; /* Creates borders around each cell */
    box-sizing: border-box; /* Ensures borders are inside the cell dimensions */
    font-size: 7rem;
    font-weight: 900;
}

.game.board > div:hover {
    background-color: var(--second-color);
}

.game.board > div:nth-child(1),
.game.board > div:nth-child(2),
.game.board > div:nth-child(3) {
    border-top: none;
}

.game.board > div:nth-child(1),
.game.board > div:nth-child(4),
.game.board > div:nth-child(7) {
    border-left: none;
}

.game.board > div:nth-child(3),
.game.board > div:nth-child(6),
.game.board > div:nth-child(9) {
    border-right: none;
}

.game.board > div:nth-child(7),
.game.board > div:nth-child(8),
.game.board > div:nth-child(9) {
    border-bottom: none;
}

/*
        FOOTER
*/

footer {
    background-color: var(--second-color);
    height: var(--footer-height);
}

